In [1]:
import pandas as pd
import numpy as np

In [2]:
flair_dict={0:'Political',1:'Non-Political',2:'[R]eddiquette',3:'AskIndia',4:'Science/Technology',5:'Policy/Economy',6:'Finance/Business',7:'Sports',8:'Food',9:'Photography',10:'AMA'}

In [3]:
fl_list=['ask_india.csv','Photography.csv','policy_eco.csv','Food.csv','Reddiquette.csv','Sports.csv','non-po.csv','science_tech.csv']

In [4]:
df=pd.read_csv(fl_list[0])
df=df.sample(frac=1)
test_len=min(125,int(0.2*len(df)))
df1_test=df.iloc[:test_len]
df1=df.iloc[test_len:test_len+min(500,len(df))]
# len(df1),len(df1_test)
for fl in fl_list[1:]:
    df=pd.read_csv(fl)
    df=df.sample(frac=1)
    test_len=min(125,int(0.2*len(df)))
    x1=df.iloc[:test_len]
    x2=df.iloc[test_len:test_len+min(500,len(df))]
    df1_test=df1_test.append(x1)
    df1=df1.append(x2)
    print(len(x1),len(x2))

101 406
125 500
61 244
125 500
86 344
125 500
125 500

In [5]:
len(df1)

3494

In [6]:
df1.columns,df1_test.columns

(Index(['created_utc', 'subreddit', 'author', 'domain', 'url', 'num_comments',
        'score', 'ups', 'downs', 'title', 'selftext', 'saved', 'id',
        'from_kind', 'gilded', 'from', 'stickied', 'retrieved_on', 'over_18',
        'thumbnail', 'subreddit_id', 'hide_score', 'link_flair_css_class',
        'author_flair_css_class', 'archived', 'is_self', 'from_id', 'permalink',
        'name', 'author_flair_text', 'quarantine', 'link_flair_text',
        'distinguished'],
       dtype='object'),
 Index(['created_utc', 'subreddit', 'author', 'domain', 'url', 'num_comments',
        'score', 'ups', 'downs', 'title', 'selftext', 'saved', 'id',
        'from_kind', 'gilded', 'from', 'stickied', 'retrieved_on', 'over_18',
        'thumbnail', 'subreddit_id', 'hide_score', 'link_flair_css_class',
        'author_flair_css_class', 'archived', 'is_self', 'from_id', 'permalink',
        'name', 'author_flair_text', 'quarantine', 'link_flair_text',
        'distinguished'],
       dtype='object'))

In [7]:
df2=df1.drop(['subreddit','author', 'domain','ups', 'downs','saved', 'id',
       'from_kind', 'gilded', 'from', 'stickied', 'retrieved_on', 'over_18',
       'thumbnail', 'hide_score', 'link_flair_css_class',
       'author_flair_css_class', 'archived', 'is_self', 'from_id', 'permalink',
       'name', 'author_flair_text', 'quarantine',
       'distinguished'],axis=1)
df2_test=df1_test.drop(['subreddit','author', 'domain','ups', 'downs','saved', 'id',
       'from_kind', 'gilded', 'from', 'stickied', 'retrieved_on', 'over_18',
       'thumbnail', 'hide_score', 'link_flair_css_class',
       'author_flair_css_class', 'archived', 'is_self', 'from_id', 'permalink',
       'name', 'author_flair_text', 'quarantine',
       'distinguished'],axis=1)

In [8]:
df2.columns,df2_test.columns

(Index(['created_utc', 'url', 'num_comments', 'score', 'title', 'selftext',
        'subreddit_id', 'link_flair_text'],
       dtype='object'),
 Index(['created_utc', 'url', 'num_comments', 'score', 'title', 'selftext',
        'subreddit_id', 'link_flair_text'],
       dtype='object'))

In [9]:
df3=pd.read_csv('data.csv')

In [10]:
df3.drop(['id'],axis=1,inplace=True)

In [11]:
df3.columns

Index(['title', 'score', 'url', 'comms_num', 'created', 'body', 'flair'], dtype='object')

In [12]:
df3=df3.rename({'title':'title', 'score': 'score', 'url':'url','comms_num':'num_comments', 'created':'created_utc', 'body':'selftext', 'flair':'link_flair_text'},axis=1)

In [13]:
df3.columns

Index(['title', 'score', 'url', 'num_comments', 'created_utc', 'selftext',
       'link_flair_text'],
      dtype='object')

In [14]:
len(df3)

1819

In [15]:
d={0:[],6:[],9:[]}
for i in range(len(df3['link_flair_text'])):
    if df3['link_flair_text'][i] in [0,6,9]:
        d[df3['link_flair_text'][i]].append(i)
len(d[0]),len(d[6]),len(d[9])

(246, 171, 210)

In [16]:
df_list=[df3.iloc[d[0]],df3.iloc[d[6]],df3.iloc[d[9]]]

In [17]:
df3=df_list[0]
df3=df3.sample(frac=1)
test_len=min(125,int(0.2*len(df3)))
df3_test=df3.iloc[:test_len]
df3=df3.iloc[test_len:test_len+min(500,len(df3))]
print(len(df3),len(df3_test))
for df in df_list[1:]:
    df=df.sample(frac=1)
    test_len=min(125,int(0.2*len(df)))
    x1=df.iloc[:test_len]
    x2=df.iloc[test_len:test_len+min(500,len(df))]
    df3_test=df3_test.append(x1)
    df3=df3.append(x2)
    print(len(x2),len(x1))

197 49
137 34
168 42

In [18]:
len(df2),len(df2_test)

(3494, 873)

In [19]:
# l1=df2['link_flair_text'].tolist()
# l2=[]
# for i in range(len(l1)):
#     flag=True
#     for j in range(11):
#         if l1[i]==flair_dict[j]:
#             l2.append(j)
#             flag=False
#             break
#     if flag:
#         print(l1[i])
# print(len(l2))
l1_test=df2_test['link_flair_text'].tolist()
l2_test=[]
for i in range(len(l1_test)):
    flag=True
    for j in range(11):
        if l1_test[i]==flair_dict[j]:
            l2_test.append(j)
            flag=False
            break
    if flag:
        print(l1_test[i])
print(len(l2_test))

873

In [20]:
# df2=df2.assign(link_flair_text=l2)
df2_test=df2_test.assign(link_flair_text=l2_test)

In [21]:
df4=df2.append(df3,sort=True)
df4_test=df2_test.append(df3_test,sort=True)

In [22]:
len(df2),len(df3),len(df4),len(df2_test),len(df3_test),len(df4_test)

(3494, 502, 3996, 873, 125, 998)

In [23]:
df4.describe()

        created_utc  num_comments        score
count  3.996000e+03   3996.000000  3996.000000
mean   1.545882e+09     17.558308    59.449700
std    2.108196e+07     97.532120   222.364186
min    1.357505e+09      0.000000     0.000000
25%    1.547832e+09      0.000000     1.000000
50%    1.550125e+09      2.000000     5.000000
75%    1.552445e+09     13.000000    30.000000
max    1.563181e+09   5458.000000  4343.000000

In [24]:
df4.head()

,created_utc,link_flair_text,num_comments,score,selftext,subreddit_id,title,url
1390,1.552898e+09,AskIndia,5,7,A kids horror movie. About two twin sisters 10...,t5_2qh1q,Indian movie came find?,https://www.reddit.com/r/india/comments/b2g5xr...
1748,1.547121e+09,AskIndia,6,11,Do you think it is actually going to help the ...,t5_2qh1q,What do you all honestly think about the recen...,https://www.reddit.com/r/india/comments/aeie7t...
4898,1.549630e+09,AskIndia,24,26,[deleted],t5_2qh1q,"Wanna opt out of Jio, what's the best alternat...",https://www.reddit.com/r/india/comments/aog8kr...
4078,1.551510e+09,AskIndia,83,18,NaN,t5_2qh1q,"Girls of r/india, what you like/look for in a ...",https://www.reddit.com/r/india/comments/awf4ee...
2592,1.550936e+09,AskIndia,28,32,How do you manage to keep yourself energetic a...,t5_2qh1q,For people who work 9h and commute to work,https://www.reddit.com/r/india/comments/atwnl9...

In [25]:
df4.to_csv('data_train.csv',index=False)
df4_test.to_csv('data_test.csv',index=False)