In [1]:
import pandas as pd
import numpy as np

In [2]:
flair_dict={0:'Political',1:'Non-Political',2:'[R]eddiquette',3:'AskIndia',4:'Science/Technology',5:'Policy/Economy',6:'Finance/Business',7:'Sports',8:'Food',9:'Photography',10:'AMA'}

In [3]:
fl_list=['ask_india.csv','Photography.csv','policy_eco.csv','Food.csv','Reddiquette.csv','Sports.csv','non-po.csv','science_tech.csv']

In [4]:
df=pd.read_csv(fl_list[0])
df=df.sample(frac=1)
test_len=min(125,int(0.2*len(df)))
df1_test=df.iloc[:test_len]
df1=df.iloc[test_len:test_len+min(500,len(df))]
# len(df1),len(df1_test)
for fl in fl_list[1:]:
    df=pd.read_csv(fl)
    df=df.sample(frac=1)
    test_len=min(125,int(0.2*len(df)))
    x1=df.iloc[:test_len]
    x2=df.iloc[test_len:test_len+min(500,len(df))]
    df1_test=df1_test.append(x1)
    df1=df1.append(x2)
    print(len(x1),len(x2))

101 406
125 500
61 244
125 500
86 344
125 500
125 500

In [5]:
len(df1),len(df1_test)

(3494, 873)

In [6]:
df1.columns,df1_test.columns

(Index(['created_utc', 'subreddit', 'author', 'domain', 'url', 'num_comments',
        'score', 'ups', 'downs', 'title', 'selftext', 'saved', 'id',
        'from_kind', 'gilded', 'from', 'stickied', 'retrieved_on', 'over_18',
        'thumbnail', 'subreddit_id', 'hide_score', 'link_flair_css_class',
        'author_flair_css_class', 'archived', 'is_self', 'from_id', 'permalink',
        'name', 'author_flair_text', 'quarantine', 'link_flair_text',
        'distinguished'],
       dtype='object'),
 Index(['created_utc', 'subreddit', 'author', 'domain', 'url', 'num_comments',
        'score', 'ups', 'downs', 'title', 'selftext', 'saved', 'id',
        'from_kind', 'gilded', 'from', 'stickied', 'retrieved_on', 'over_18',
        'thumbnail', 'subreddit_id', 'hide_score', 'link_flair_css_class',
        'author_flair_css_class', 'archived', 'is_self', 'from_id', 'permalink',
        'name', 'author_flair_text', 'quarantine', 'link_flair_text',
        'distinguished'],
       dtype='object'))

In [7]:
df2=df1.drop(['subreddit','author', 'domain','ups', 'downs','saved', 'id',
       'from_kind', 'gilded', 'from', 'stickied', 'retrieved_on', 'over_18',
       'thumbnail', 'hide_score', 'link_flair_css_class',
       'author_flair_css_class', 'archived', 'is_self', 'from_id', 'permalink',
       'name', 'author_flair_text', 'quarantine',
       'distinguished'],axis=1)
df2_test=df1_test.drop(['subreddit','author', 'domain','ups', 'downs','saved', 'id',
       'from_kind', 'gilded', 'from', 'stickied', 'retrieved_on', 'over_18',
       'thumbnail', 'hide_score', 'link_flair_css_class',
       'author_flair_css_class', 'archived', 'is_self', 'from_id', 'permalink',
       'name', 'author_flair_text', 'quarantine',
       'distinguished'],axis=1)

In [8]:
df2.columns,df2_test.columns

(Index(['created_utc', 'url', 'num_comments', 'score', 'title', 'selftext',
        'subreddit_id', 'link_flair_text'],
       dtype='object'),
 Index(['created_utc', 'url', 'num_comments', 'score', 'title', 'selftext',
        'subreddit_id', 'link_flair_text'],
       dtype='object'))

In [9]:
df3=pd.read_csv('data.csv')

In [10]:
df3.drop(['id'],axis=1,inplace=True)

In [11]:
df3.columns

Index(['title', 'score', 'url', 'comms_num', 'created', 'body', 'flair'], dtype='object')

In [12]:
df3=df3.rename({'title':'title', 'score': 'score', 'url':'url','comms_num':'num_comments', 'created':'created_utc', 'body':'selftext', 'flair':'link_flair_text'},axis=1)

In [13]:
df3.columns

Index(['title', 'score', 'url', 'num_comments', 'created_utc', 'selftext',
       'link_flair_text'],
      dtype='object')

In [14]:
len(df3)

1819

In [15]:
d={0:[],6:[],9:[]}
for i in range(len(df3['link_flair_text'])):
    if df3['link_flair_text'][i] in [0,6,9]:
        d[df3['link_flair_text'][i]].append(i)
len(d[0]),len(d[6]),len(d[9])

(246, 171, 210)

In [16]:
df_list=[df3.iloc[d[0]],df3.iloc[d[6]],df3.iloc[d[9]]]

In [17]:
df_list[2]=df_list[2].assign(link_flair_text=[10 for _ in range(len(df_list[2]))])

In [18]:
df3=df_list[0]
df3=df3.sample(frac=1)
test_len=min(125,int(0.2*len(df3)))
df3_test=df3.iloc[:test_len]
df3=df3.iloc[test_len:test_len+min(500,len(df3))]
print(len(df3),len(df3_test))
for df in df_list[1:]:
    df=df.sample(frac=1)
    test_len=min(125,int(0.2*len(df)))
    x1=df.iloc[:test_len]
    x2=df.iloc[test_len:test_len+min(500,len(df))]
    df3_test=df3_test.append(x1)
    df3=df3.append(x2)
    print(len(x2),len(x1))

197 49
137 34
168 42

In [19]:
len(df2),len(df2_test)
# df3

(3494, 873)

In [20]:
l1=df2['link_flair_text'].tolist()
l2=[]
for i in range(len(l1)):
    flag=True
    for j in range(11):
        if l1[i]==flair_dict[j]:
            l2.append(j)
            flag=False
            break
    if flag:
        print(l1[i])
print(len(l2))
l1_test=df2_test['link_flair_text'].tolist()
l2_test=[]
for i in range(len(l1_test)):
    flag=True
    for j in range(11):
        if l1_test[i]==flair_dict[j]:
            l2_test.append(j)
            flag=False
            break
    if flag:
        print(l1_test[i])
print(len(l2_test))

3494
873

In [21]:
df2=df2.assign(link_flair_text=l2)
df2_test=df2_test.assign(link_flair_text=l2_test)

In [22]:
df4=df2.append(df3,sort=True)
df4_test=df2_test.append(df3_test,sort=True)

In [23]:
len(df2),len(df3),len(df4),len(df2_test),len(df3_test),len(df4_test)

(3494, 502, 3996, 873, 125, 998)

In [24]:
df4.describe()

        created_utc  link_flair_text  num_comments         score
count  3.996000e+03      3996.000000   3996.000000   3996.000000
mean   1.545689e+09         4.508509     20.339339     62.209209
std    2.154347e+07         2.889916    150.973974    285.959308
min    1.357505e+09         0.000000      0.000000      0.000000
25%    1.547803e+09         2.000000      0.000000      1.000000
50%    1.550142e+09         4.000000      1.000000      5.000000
75%    1.552332e+09         7.000000     12.000000     30.000000
max    1.563181e+09        10.000000   7113.000000  10158.000000

In [25]:
df4.head()

,created_utc,link_flair_text,num_comments,score,selftext,subreddit_id,title,url
2020,1.549555e+09,3,13,14,So many scammers and beggers are ruining my tr...,t5_2qh1q,Why are there so many scammers in Delhi?,https://www.reddit.com/r/india/comments/ao52x6...
4416,1.550414e+09,3,15,1,[deleted],t5_2qh1q,"Anyone ever feel guilty for not joining army, ...",https://www.reddit.com/r/india/comments/arkzxx...
1204,1.552500e+09,3,8,6,"Not very knowledgeable in this area, hence wan...",t5_2qh1q,"Motorcycle helmet brands, Do any of them offer...",https://www.reddit.com/r/india/comments/b0p5ew...
4746,1.548475e+09,3,20,8,[deleted],t5_2qh1q,"Randians, how are you navigating the dating wo...",https://www.reddit.com/r/india/comments/ajxhgx...
2623,1.549576e+09,3,66,34,Do your schools teach this or do people just n...,t5_2qh1q,Why are you guys so fluent in English?,https://www.reddit.com/r/india/comments/ao913e...

In [26]:
df4.to_csv('data_train.csv',index=False)
df4_test.to_csv('data_test.csv',index=False)

In [27]:
df4_test.head()

,created_utc,link_flair_text,num_comments,score,selftext,subreddit_id,title,url
5396,1.550343e+09,3,14,42,[removed],t5_2qh1q,My younger sister shristi(16) is suffering frm...,https://www.reddit.com/r/india/comments/arbon5...
3329,1.549412e+09,3,0,1,NaN,t5_2qh1q,Abroad WhatsApp Group Join Link List,https://www.whatsappgroupjoinlinklist.com/2019...
3238,1.549285e+09,3,0,1,NaN,t5_2qh1q,Analysing Control Charts Video,https://www.youtube.com/watch?v=9dl8PZoSfcc&am...
2310,1.553529e+09,3,2,19,I had to leave my current job due to several f...,t5_2qh1q,"HR people of reddit, before offering a job to ...",https://www.reddit.com/r/india/comments/b5cf25...
1031,1.550071e+09,3,4,5,I have given MP Tet physics (Teacher s recrui...,t5_2qh1q,Any one from Madhya Pradesh,https://www.reddit.com/r/india/comments/aq7kdh...

In [28]:
df4.head()

,created_utc,link_flair_text,num_comments,score,selftext,subreddit_id,title,url
2020,1.549555e+09,3,13,14,So many scammers and beggers are ruining my tr...,t5_2qh1q,Why are there so many scammers in Delhi?,https://www.reddit.com/r/india/comments/ao52x6...
4416,1.550414e+09,3,15,1,[deleted],t5_2qh1q,"Anyone ever feel guilty for not joining army, ...",https://www.reddit.com/r/india/comments/arkzxx...
1204,1.552500e+09,3,8,6,"Not very knowledgeable in this area, hence wan...",t5_2qh1q,"Motorcycle helmet brands, Do any of them offer...",https://www.reddit.com/r/india/comments/b0p5ew...
4746,1.548475e+09,3,20,8,[deleted],t5_2qh1q,"Randians, how are you navigating the dating wo...",https://www.reddit.com/r/india/comments/ajxhgx...
2623,1.549576e+09,3,66,34,Do your schools teach this or do people just n...,t5_2qh1q,Why are you guys so fluent in English?,https://www.reddit.com/r/india/comments/ao913e...