In [1]:
import pandas as pd
import numpy as np

In [2]:
flair_dict={0:'Political',1:'Non-Political',2:'[R]eddiquette',3:'AskIndia',4:'Science/Technology',5:'Policy/Economy',6:'Finance/Business',7:'Sports',8:'Food',9:'Photography',10:'AMA'}

In [3]:
fl_list=['ask_india.csv','Photography.csv','policy_eco.csv','Food.csv','Reddiquette.csv','Sports.csv','non-po.csv','science_tech.csv']

In [4]:
df1=pd.read_csv(fl_list[0])
for i in fl_list:
    df1=df1.append(pd.read_csv(i))

In [5]:
len(df1)

21616

In [6]:
df1.to_csv('data_combined.csv',index=False)

In [7]:
df1.columns

Index(['created_utc', 'subreddit', 'author', 'domain', 'url', 'num_comments',
       'score', 'ups', 'downs', 'title', 'selftext', 'saved', 'id',
       'from_kind', 'gilded', 'from', 'stickied', 'retrieved_on', 'over_18',
       'thumbnail', 'subreddit_id', 'hide_score', 'link_flair_css_class',
       'author_flair_css_class', 'archived', 'is_self', 'from_id', 'permalink',
       'name', 'author_flair_text', 'quarantine', 'link_flair_text',
       'distinguished'],
      dtype='object')

In [8]:
df2=df1.drop(['subreddit','author', 'domain','ups', 'downs','saved', 'id',
       'from_kind', 'gilded', 'from', 'stickied', 'retrieved_on', 'over_18',
       'thumbnail', 'hide_score', 'link_flair_css_class',
       'author_flair_css_class', 'archived', 'is_self', 'from_id', 'permalink',
       'name', 'author_flair_text', 'quarantine',
       'distinguished'],axis=1)

In [9]:
df2.columns

Index(['created_utc', 'url', 'num_comments', 'score', 'title', 'selftext',
       'subreddit_id', 'link_flair_text'],
      dtype='object')

In [10]:
df3=pd.read_csv('data.csv')

In [11]:
df3.drop(['id'],axis=1,inplace=True)

In [12]:
df3.columns

Index(['title', 'score', 'url', 'comms_num', 'created', 'body', 'flair'], dtype='object')

In [13]:
df3=df3.rename({'title':'title', 'score': 'score', 'url':'url','comms_num':'num_comments', 'created':'created_utc', 'body':'selftext', 'flair':'link_flair_text'},axis=1)

In [14]:
df3.columns

Index(['title', 'score', 'url', 'num_comments', 'created_utc', 'selftext',
       'link_flair_text'],
      dtype='object')

In [15]:
len(df2)

21616

In [16]:
l1=[]
for i in range(len(df3['link_flair_text'])):
    if df3['link_flair_text'][i] not in [0,6,9]:
        l1.append(i)
    elif df3['link_flair_text'][i]==9:
        df3['link_flair_text'][i]=10

/home/parasmehan123/.conda/envs/reddit/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
df3.drop(l1,inplace=True)

In [18]:
df3.describe()

             score  num_comments   created_utc  link_flair_text
count   627.000000    627.000000  6.270000e+02       627.000000
mean    152.926635     61.751196  1.515656e+09         4.985646
std     314.434526     96.876714  5.000174e+07         4.299281
min       0.000000      0.000000  1.357505e+09         0.000000
25%      17.000000      9.000000  1.480941e+09         0.000000
50%      71.000000     29.000000  1.541955e+09         6.000000
75%     170.500000     73.500000  1.557058e+09        10.000000
max    4343.000000    951.000000  1.563181e+09        10.000000

In [19]:
l1=df2['link_flair_text'].tolist()
l2=[]
for i in range(len(l1)):
    flag=True
    for j in range(11):
        if l1[i]==flair_dict[j]:
            l2.append(j)
            flag=False
            break
    if flag:
        print(l1[i])

In [20]:
df2=df2.assign(link_flair_text=l2)

In [21]:
df4=df2.append(df3,sort=True)

In [22]:
len(df2),len(df3),len(df4)

(21616, 627, 22243)

In [23]:
df4.describe()

        created_utc  link_flair_text  num_comments         score
count  2.224300e+04     22243.000000  22243.000000  22243.000000
mean   1.549244e+09         2.904824     13.765454     37.166075
std    1.039187e+07         1.871075     72.139649    188.099998
min    1.357505e+09         0.000000      0.000000      0.000000
25%    1.548217e+09         1.000000      0.000000      1.000000
50%    1.550250e+09         3.000000      2.000000      4.000000
75%    1.552218e+09         3.000000     12.000000     17.000000
max    1.563181e+09        10.000000   7113.000000  10158.000000

In [24]:
df4.head()

,created_utc,link_flair_text,num_comments,score,selftext,subreddit_id,title,url
0,1.548577e+09,3,4,0,"Hello,\n\n&amp;#x200B;\n\nI'll be flying into ...",t5_2qh1q,Question regarding customs when arriving in India,https://www.reddit.com/r/india/comments/akaal5...
1,1.548603e+09,3,1,0,"Hi, I am looking to invest a part of my monthl...",t5_2qh1q,Need Advice about Flexi RD,https://www.reddit.com/r/india/comments/akcwld...
2,1.547265e+09,3,15,0,"After Aquaman's success, I saw Indians on Twit...",t5_2qh1q,Why do a disproportionate amount Indians have ...,https://www.reddit.com/r/india/comments/af3mlj...
3,1.547329e+09,3,0,0,Any stories?,t5_2qh1q,How much do you listen to your parents’ advice...,https://www.reddit.com/r/india/comments/afbzhn...
4,1.546750e+09,3,4,0,Many friends and relatives of mine who have wo...,t5_2qh1q,A question regarding on-site opportunities (or...,https://www.reddit.com/r/india/comments/ad2gkb...

In [25]:
df4.to_csv('data2.csv',index=False)