In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df=pd.read_csv('data.csv')
flair_dict={0:'Political',1:'Non-political',2:'Reddiquette',3:'AskIndia',4:'Science & Technology',5:'Policy & Economy',6:'Finance & Business',7:'Sports and food',8:'Photography',9:'AMA'}

In [3]:
def get_date(created):
    return dt.datetime.fromtimestamp(created)
l=[]
for i in df['created']:
    l.append(get_date(i))
df=df.assign(created=l)

In [5]:
c=[0 for _ in range(10)]
df_np=df.to_numpy()
for i in range(len(df_np)):
    c[df_np[i,-1]]+=1
sum(c)==len(df_np)

True

In [6]:
df_list=[]
s=c[0]
df_list.append(df.iloc[:c[0],:])
for i in range(1,10):
    df_list.append(df.iloc[s:s+c[i],:])
    s+=c[i]

In [18]:
ans=pd.DataFrame([[flair_dict[i],np.median(df_list[i]['score']),np.mean(df_list[i]['score']),np.median(df_list[i]['comms_num']),np.mean(df_list[i]['comms_num'])] for i in range(10)],columns=['Flair','Med. Score','Avg. Score','Med. Comments','Avg. Comments'])

In [19]:
ans

                  Flair  Med. Score  Avg. Score  Med. Comments  Avg. Comments
0             Political       106.0  213.069106           32.5      56.317073
1         Non-political         8.0   44.292237            7.0      17.904110
2           Reddiquette        16.5   43.206522           18.5     164.489130
3              AskIndia        16.0   33.711864           18.0      36.754237
4  Science & Technology        14.0   52.299401           11.0      32.958084
5      Policy & Economy        19.0   54.110048           11.0      33.354067
6    Finance & Business        22.0   72.929825           11.0      34.900585
7       Sports and food        54.0   85.282609           33.0      59.586957
8           Photography        16.0   76.363229           10.0      24.318386
9                   AMA        76.0  147.614286           49.0      89.980952

In [23]:
ti=[[0 for _ in range(4)] for _ in range(10)]
for i in range(10):
    for j in df_list[i]['created']:
        ti[i][j.hour//6]+=1
    for j in range(4):
        ti[i][j]=(ti[i][j]*100)/c[i]
ti_T=np.array(ti).T

In [24]:
fl_vs_hr=pd.DataFrame([flair_dict[i] for i in range(10)],columns=['Flair'])

In [25]:
for i in range(4):
    fl_vs_hr.insert(i+1,str(6*i)+'-'+str(6*(i+1)),ti_T[i])

In [26]:
fl_vs_hr

                  Flair        0-6       6-12      12-18      18-24
0             Political  28.861789  14.634146  20.731707  35.772358
1         Non-political  20.091324  26.940639  15.981735  36.986301
2           Reddiquette  30.434783  16.304348  20.652174  32.608696
3              AskIndia  34.745763  18.220339  13.135593  33.898305
4  Science & Technology  32.934132  21.556886  11.976048  33.532934
5      Policy & Economy  28.229665  17.224880  14.354067  40.191388
6    Finance & Business  26.315789   8.187135  21.637427  43.859649
7       Sports and food  41.304348  13.043478  17.391304  28.260870
8           Photography  34.977578  23.318386  12.107623  29.596413
9                   AMA  45.238095  13.809524  10.000000  30.952381

In [27]:
ans.to_csv('analysis1.csv',index=False)
fl_vs_hr.to_csv('analysis2.csv',index=False)